*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body  {
    text-align: center;
    font-family: sans-serif;
    
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;

}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    background: #E89D30;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar2 {
    background-color: #E89D30 !important;
    color:#000000 !important;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 70vh !important;
    background: url(Img/dog-838281_640.jpg) no-repeat center;
    background-size: cover;
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
}

p {
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: 600;
    padding: 0 100px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #000000 ;
    color: #000000;
    text-decoration: none;
    background: #E89D30;
}

.btn:hover {
    background: none;
}
.btn-home {
    display: flex;

}

.btn-home a {
    margin: 0 10px;
}

.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 30px;
    background: #E89D30;
}   

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.box-container .box {
    height: 11rem;
    width: 17rem;
    background: #888888;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0, 0, 0);
    margin: 2rem;
}

.box-container .box h3{
   font-size: 30px;
   color:#fff;
}

.box-container .box p{
    padding: 0 15px;
    font-size: 16px;
}

.about {
    background: #E59500;
}

.price {
    background: url(Img/dog-838281_640.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.contact {
    padding-top: 20px;
    background: #d8d8d8;
    padding-bottom: 0;
    height: auto;
}

@media (max-width:768px) {

    .title {
        margin-bottom: 0;
        font-size: 40px;
    }

    .sau {
        height: 120vh;

    }

    .navbar {
        display: none;
    }
}

.error {
    color: #FF0000;
}